html {
    color:#c0c0be; 
}

body {
    background-color: #2e2c29;
    text-align:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 115%;
}

a:visited,
a:link {
    color: #2e76b8;
}

a:hover {
    color:#c0c0be
}

h2,
li {
    text-align:left;
    margin-left:75px;
}

li {
    margin-bottom: 5px;
}

img {
    height: auto;
    width: 650px;
}