html {
    color:#c0c0be; 
}

body {
    background-color: #2e2c29;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 115%;
    text-align: center;
}

p {
    font-size: x-large;
}

.columns {
    column-count: 2;
    column-gap: 0px;
}

a:visited,
a:link {
    color: #2e76b8;
}

a:hover {
    color:#c0c0be
}

h2,
li {
    text-align:left;
    margin-left:75px;
}

li {
    margin-bottom: 5px;
}

img {
    height: auto;
    width: 650px;
}

.link {
    height:auto;
    width:400px;
}